FanControl.Liquidctl.zip

# C#
bin
obj

# Python
.venv
.ruff_cache
__pycache__
build
dist
.coverage
coverage.xml
coverage-report/
test-results.xml

# Claude
settings.local.json

# node
node_modules
